@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');


body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
    background: url('./1006696.png');
    
}
h1{
    color: grey;
}
.container{
    width: 100%;
}

.table{
   width: 100%; 

}
.table-inner{
    width: 100%;
}

@keyframes border{

    0%{
        border: 5px solid rgb(126, 125, 125);
    }
    30%{
        border: 5px solid rgb(211, 211, 211);
    }
    70%{
        border: 5px solid rgb(68, 68, 68);
    }
    100%{
        border: 5px solid rgb(126, 125, 125);
    }
}
h3, h1{
    font-family: 'Poppins', sans-serif;
}
/* @keyframes shadow{
    
    100%{
        background-color: rgb(114, 114, 114);
    }
} */
/* .sprint1:hover, .sprint2:hover{
    animation: shadow 1s ease;
    animation-fill-mode: forwards;
    
} */

h3{
    color: grey;
}
.les{
    width: 250px;
    height: 100px;
    border: 1px solid rgb(255, 255, 255);
    margin: 20px;
    background-color: rgb(138, 137, 137);
    font-family: 'Work Sans', sans-serif;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: 0.3s;
}
.les:hover{ 
    box-shadow: 0px 0px 27px 6px rgba(138, 137, 137, 0.84);
   
}

.view{
    width: 100px; 
    
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    
    background-color: rgb(59, 58, 58);
}
.view a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}


.works{
    display: flex;
    justify-content: center;
}
.sprint{
    display: flex;
    border: 2px solid black;
    border-radius: 20px;
    flex-wrap: wrap;
    animation: border 5s infinite;
    transition: 0.3s;
}